<div class="expanded-card">

	<img [src]="contact.picture" class="expanded-avatar">

	<div class="expanded-info">

		<h2>{{ contact.name }} {{ contact.surname }}</h2>
		<p class="email">{{ contact.email }}</p>

		<div class="action-buttons">

			<ion-button fill="clear" class="call-btn" (click) = "call(false)">

				<ion-icon name="call-outline"></ion-icon>

			</ion-button>

			<ion-button fill="clear" class="video-call-btn" (click) = "call(true)">

				<ion-icon name="videocam-outline"></ion-icon>

			</ion-button>

		</div>

	</div>

</div>