<div class="contact-container">

	@if (!isExpanded) {

		<div class="compact-view" (click)="toggleExpansion($event)">

			<img [src]="contact.picture" class="avatar">

			<div class="contact-info">

				<h3>{{ contact.name }} {{ contact.surname }}</h3>
				<p class="phone">{{ contact.contact }}</p>

			</div>

			<ion-button fill="clear" class="edit-btn" (click)="navigateToUpdate($event)">

				<ion-icon name="create-outline"></ion-icon>

			</ion-button>

		</div>

	}

	@if (isExpanded) {

		<app-contact-tab [contact] = "contact" (click)="toggleExpansion($event)"></app-contact-tab>

	}

</div>