<app-loading></app-loading>

<ion-content class="ion-padding">

	<ion-card class="auth-card">

		<ion-card-header>

			<ion-card-title class="ion-text-center">Welcome</ion-card-title>

		</ion-card-header>

		<ion-card-content>

			<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

				<ion-list lines="none">

					<ion-item>

						<ion-input label="Email" type="email" formControlName="email" placeholder="your@email.com" required></ion-input>

					</ion-item>
					
					@if (loginForm.controls.email.touched && loginForm.controls.email.errors) {

						<ion-note color="danger" class="ion-padding-start">

							@if (loginForm.controls.email.errors['required']) {

								<div>Required field</div>

							}

							@if (loginForm.controls.email.errors['email']) {

								<div>Invalid Format</div>

							}

						</ion-note>

					}

					<ion-item>

						<ion-input label="Password" type="password" formControlName="password" placeholder="•••••••"required></ion-input>

					</ion-item>

					@if (loginForm.controls.password.touched && loginForm.controls.password.errors) {

						<ion-note color="danger" class="ion-padding-start">

							@if (loginForm.controls.password.errors['required']) {

								<div>Required field</div>

							}

						</ion-note>

					}

				</ion-list>

				<ion-button type="submit" expand="block" [disabled]="loginForm.invalid" class="ion-margin-top">

					Log In

				</ion-button>

			</form>

			<ion-text class="ion-text-center ion-margin-top">

				<p>

					Don't you have an account? 
					<a routerLink="/logup" class="ion-text-primary">Log Up</a>

				</p>

			</ion-text>

		</ion-card-content>

	</ion-card>

</ion-content>